*{
    margin: 0;
    padding: 0;
}
.parent{
    position: relative;
}

img{
    width: 100%;
    height: 65vh;
}
.navbar{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
    width: 100vw;

}
span{
    color: white;
    font-size: larger;
}
.navbar-left{
    display: flex;
    justify-content: space-between;
    padding-left:  60px;
    width: 300px;

    /* background-color: black; */
}
.navbar-right{
    display: flex;
    justify-content: space-between;
    padding-right:  60px;
    width: 300px;

    /* background-color: black; */
}
.heading-zomato{
    /* width: 100vw; */
    /* background-color: #fff; */
    /* display: flex; */
    justify-content: center;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    top: 20%;
    /* margin: 0 700px; */
    /* margin: 0px 50%; */

}
.img{
    /* width: 280px; */
    height: 60px;
}